body {
    background-color: rgba(235, 234, 234, 0.212);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

ul {
    margin-top: 1%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
    align-items: center;
}

nav{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

img {
    width: 40%;
    margin-left: 150px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* balise Nav est parent du UL et Li */


.action {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}


footer {

    margin-top: 40px;
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
    
}

.class1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.class2 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

header {
    background-image: url("./image/paysage.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

header section {
    background-color: rgba(0, 0, 0, 0.37);
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

h3 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10%;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.mission {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    /* height: 300px; */
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding: 40px;
}
 .photo {
    width: 120%;
    height: 80%;
    border-radius: 1%;
    margin-top: 30px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.103);
}

.barre {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    margin-top: 10px;
}

.click {
    font-size: 16px;
    color: rgba(40, 40, 40, 0.829);
}

.experience {
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.liste {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgba(19, 19, 19);
}

span {
    font-size: 30px;
    color: #fb2056;
}

.action:hover {
    background-color: #c41f48;
}

@media (max-width:1024px) {
}

@media (max-width:768px) {
    .mission, .experience, .photo, .click {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}

@media (max-width:480px) {
    .mission, .experience, .photo, .click {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 2%;
        padding: 0;
    }

    .class1 {
        text-align: center;
    }

    h3 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .click {
        font-size: 10px;
    }

    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        margin-right: 0%;
        margin-top: 2%;
    }
}