
body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.outdoor {
    width: 35%;
    margin-left: 150px;
    
}

ul {
    margin-top: 1%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
    align-items: center;
}



nav{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* balise Nav est parent du UL et Li */



.action {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

footer {

    margin-top: 40px;
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
    
}

.class1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.class2 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

header {
    background-image: url("./image/photo-page1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.568);
    height: 800px;
}

/* le  background-blend-mode permet avec un background color d'appliquer un filtre
sur le background image afin d'avoir une image plus sombre ou plus clair*/

/* la classe Icon est parente des titres (H) de la barre et du Learn more*/

.icon {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* les titres ont un margin de padding de base /!\ */

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 64px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.barre {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.learn {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 50px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.learn:hover {
    background-color: #c41f48;
}

.bout:hover {
    background-color: #c41f48;
}

.action:hover {
    background-color: #c41f48;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.fuerat {
    color: rgba(40, 40, 40, 0.829);
    font-size: 20px;
}

.adam {
    color: rgb(19, 19, 19);
    font-size: 16px;
}

.point {
    width: 90px;
    height: 70px;
    position: relative;
    right: 470px;
    bottom: 100px;
}

.event {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1.3em;
    align-items: center;
    flex-direction: column;
}

.up {
    font-size: 34px;
}

.barre2 {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.activite {
    display: flex;
    justify-content: center;
}

.gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 1rem;
    color: rgba(40, 40, 40, 0.829);
    margin-left: 35px;
    margin-right: 35px;
}

.droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 1rem;

}

.bout {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    bottom: 6px;
    font-size: 14px;
    font-weight: bold;
}

.titre {
    font-weight: bold;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #000;
}
.activite img {
    height: auto;
    width: 70%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2%;
    position: relative;
}

.sac {
    background-image: url(./image/section-bg-img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.explore {
    background-color: rgba(0, 0, 0, 0.589);
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.wolrd {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    padding-left: 50%;
    padding-top: 5%;
}

.the {
    font-size: 34px;
}

.para {
    color: white;
    font-size: 16px;
    margin-right: 35px;
    
}

.barre3 {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    
    margin-top: 10px;
}

.upcoming {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.right {
    display: flex;
    gap: 1em;
    margin-left: 10;
}

h4 {
    font-size: 24px;
    display: flex;
    align-items: end;
    margin: 0;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.tours {
    margin-left: 300px;
    width: 40%;
}

.photo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 35%;
}

.photo1 {
    margin-bottom: 20px;
    /* max-width: 100%;
    height: 150px; */
    border-radius: 1%;
}

.photo2 {
    /* max-width: 100%;
    height: 200px; */
    border-radius: 1%;
}

.topho {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 35%;
}

.topho img, .photo img {
    width: 100%;
}


.photo3 {
    margin-bottom: 20px;
    /* max-width: 100%;
    height: 200px; */
    border-radius: 1%;
}

.photo4 {
    /* max-width: 100%;
    height: 150px; */
    border-radius: 1%;
}

.fin {
    font-size: 16px;
    color: rgba(40, 40, 40, 0.829);
    margin-bottom: 50px;
    margin-top: 30px;
}

.ImgGauche {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.103);
}

.ImgDroite {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.103);
}

@media (max-width:1024px) {
    img {
        width: 100%;
    }
}

@media (max-width:768px) {
    img {
        width: 70%;
    }

    .upcoming {
        flex-direction: column;
        margin: 2%;
    }

    .tours {
        width: 100%;
    }

    .wolrd {
        margin: 0;
        padding: 10%;
        justify-content: center;
    }

    .banner {
        margin-left: 8%;
    }

    .right {
        justify-content: center;
        width: 70%;
        margin-left: 30%;
    }

}

@media (max-width:480px) {
    .right, .photo, .topho, .activite, .explore, nav {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .class1 {
        text-align: center;
    }

    .wolrd {
        margin: 0;
        padding: 10%;
        justify-content: center;
    }

    img {
        width: 90%;
    }
}

@media (max-width:375px) {
    .right, .activite, .explore, nav {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }


    .class1 {
        text-align: center;
    }

    .wolrd {
        margin: 0;
        padding: 20%;
        justify-content: center;
    }

    .photo, .topho {
        width: 60%;
        margin-left: 5%;
    }

    .upcoming {
        margin: 0;
        padding: 0;
    }

    .fin {
        justify-content: start;
    }
}