

body {
    background-color: wheat;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

ul {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
}

nav{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

/* balise Nav est parent du UL et Li */

img{
    height: 30px; 
}

button {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    bottom: 6px;
}

footer {

    margin-top: 40px;
    padding: 25px;
    background-color: black;
    color: white;
    
}

.class1 {
    display: flex;
    justify-content: center;
}

.class2 {
    display: flex;
    justify-content: center;
}

header {
    background-image: url("./image/photo-page1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

header section {
    background-color: rgba(0, 0, 0, 0.589);
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

/* la classe Icon est parente des titres (H) de la barre et du Learn more*/

.icon {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* les titres ont un margin de padding de base /!\ */

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 64px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.barre {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.learn {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 50px;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.point {
    width: 80px;
    height: 60px;
    position: relative;
    right: 350px;
    bottom: 80px;
}

.event {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1.3em;
    align-items: center;
    flex-direction: column;
}

.barre2 {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.activite {
    display: flex;
    justify-content: space-between;
}

.gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 1rem;
}

.droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 1rem;

}

.bout {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    bottom: 6px;
    font-size: 10px;
}

.titre {
    font-weight: bold;
    font-size: 15px;
}
.activite img {
    height: auto;
    width: 70%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2%;
    position: relative;
}

.sac {
    background-image: url(./image/section-bg-img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.explore {
    background-color: rgba(0, 0, 0, 0.589);
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.wolrd {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    padding-left: 50%;
    padding-top: 10%;
}

.para {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.barre3 {
    border-bottom: solid #fb2056 2px;
    width: 50px;
    
    margin-top: 10px;
}