body {
    background-color: rgba(235, 234, 234, 0.212);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.outdoor {
    width: 40%;
    margin-left: 150px;
    
}

ul {
    margin-top: 1%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 150px;
    align-items: center;
}

nav{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.action {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

header {
    background-image: url("./image/fond-page4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.281);
    height: 600px;
}

.icon {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.our {
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}

footer {

    margin-top: 40px;
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
    
}

.class1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.class2 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.sport {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 14%;
    margin-top: 5%;
}

.petit {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}

.barre {
    border-bottom: solid #fb2056 2px;
    width: 30px;
    margin-left: 5px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    margin: 0;
    padding: 0;
}

.titre {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    color: rgba(40, 40, 40, 0.829);
}

.image {
   margin-top: 50px;
    text-align: center;
} 

.photo {
    height: 400px;
    border-radius: 3%;
    padding: 10px;
}

.top {
    margin-top: 150px;
}

.action:hover {
    background-color: #c41f48;
}

@media (max-width:1024px) {
    img {
        width: 25%;
    }
}

@media (max-width:768px) {
    .sport, .titre, .image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .photo {
        margin-left: 50%;
        margin: 0;
    }

    .image {
        margin-left: 5%;
        width: 90%;
    }
}  

@media (max-width:600px) {
    .sport, .titre, .image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .photo {
        justify-content: center;
        width: 60%;
        align-items: center;
        margin-left: 30%;
    }

    nav {
        flex-direction: column;
    }

    

    .class1 {
        text-align: center;
     }
}

@media (max-width:480px) {
    .sport, .titre, .image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .photo {
        justify-content: center;
        width: 70%;
        align-items: center;
        margin-left: 30%;
    }

    nav {
        flex-direction: column;
    }

    

    .class1 {
        text-align: center;
     }

} 