body {
    background-color: rgba(235, 234, 234, 0.212);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

ul {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
}


nav{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

img{
    height: 30px; 
}

.action {
    border:none;
    background-color: #fb2056;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

header {
    background-image: url("./image/services-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

header section {
    background-color: rgba(0, 0, 0, 0.281);
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.icon {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
    margin-bottom: 130px;
    font-family: "Montserrat", sans-serif;
}

footer {

    margin-top: 40px;
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
    
}

.class1 {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.class2 {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.adventure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.titre1 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.barre {
    border-bottom: solid #fb2056 2px;
    width: 90px;
    margin: auto;
    margin-bottom: 10px;
}

.texte1 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    display: flex;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    color: rgba(40, 40, 40, 0.829);
}

.photo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.photo1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.photo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texte2 {
    font-family: 'Noto', sans-serif;
    font-size: 12px;
    display: flex;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    color: rgba(40, 40, 40, 0.829);
}

.trips {
    display: flex;
    box-sizing: border-box;
    height: 175px;
    width: 275px;
    border-radius: 2%;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.103);
}

.titre2 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.get {
    display: flex;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: start;
    gap: 1rem;
}

.gauche {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.barre2 {
    border-bottom: solid #fb2056 2px;
    width: 50px;
}

.droite {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.liste {
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
    color: rgba(40, 40, 40, 0.829);
    margin: 0;
    padding: 0;
}

.minibarre {
    color: #fb2056;
    margin: 10px;
}

.titre3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.texte3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    color: rgba(40, 40, 40, 0.829);
}

.action:hover {
    background-color: #c41f48;
}

@media (max-width:1024px) {
    img {
        width: 100%;
    }
}

@media (max-width:768px) {
    .photo, .photo1, .photo2, .get {
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    nav {
        flex-direction: column;
    }

    .class1 {
        text-align: center;
    }

    .texte2 {
        text-align: center;
    }

    .texte1 {
        text-align: center;
    }

}    

@media (max-width:480px) {
    .photo, .photo1, .photo2, .get {
        flex-direction: column;
        justify-content: center;
        width: 60%;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .class1 {
        text-align: center;
    }

    .texte2 {
        text-align: center;
        padding: 0;
    }

    .texte1 {
        text-align: center;
        padding: 0;
    }

}